<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="/layout">
    <head></head>
<body>
    <div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4" th:text="#{user.id}">
            </div>
            <div class="col-md-4" th:text="#{user.username}">
            </div>
            <div class="col-md-4" th:text="#{user.role}">
            </div>
        </div>
        <div th:each="user: ${users}">
            <div class="row">
                <div class="col-md-4">
                    <div th:text="${user.id}"></div>
                </div>
                <div class="col-md-4">
                    <div th:text="${user.username}"></div>
                </div>
                <div class="col-md-4">
                    <div th:text="${user.role}"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>