<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div id="global-footer" layout:fragment="footer">
    <footer id="global-footer" layout:fragment="footer">
        <p class="text-center"><small>Copyright(C) Miga Co.,Ltd, All rights reserved.</small></p>
    </footer>
</div>
<script src="/jquery/jquery-3.2.1.min.js"></script>
<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>