<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="header">
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
</head>
<body>
<header id="global-header" layout:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Template</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle"
                        data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Products <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Product1</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Prodcut2</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Product3</a></li>
                        </ul></li>
                </ul>
                <div sec:authorize="isAnonymous()">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle"
                            data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
                            <span sec:authentication="name"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/user/list.html"><span class="glyphicon glyphicon-cog"></span> User Settings</a></li>
                                <li><a href="#">Product Settings</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <input type="submit" value="Sign Out" />
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                    <div sec:authorize="hasRole('ROLE_USER')">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle"
                            data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span sec:authentication="name"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/profile.html"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <input type="submit" value="Sign Out" />
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                </div>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</header>
</body>
</html>